<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebFeatureServiceReplicationSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://skjema.geonorge.no/standard/geosynkronisering/1.1/produkt"
                binding="basicHttpBinding" bindingConfiguration="WebFeatureServiceReplicationSoap"
                contract="Kartverket.GeosyncWCF.WebFeatureServiceReplicationPort"
                name="WebFeatureServiceReplication" />
        </client>
    </system.serviceModel>
</configuration>