<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="geosyncDBEntities" connectionString="Data Source=geosyncDB.sqlite;Mode=ReadWriteCreate" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
      <setting name="DefaultServerURL" serializeAs="String">
        <value>https://geosynk.nois.no/tilbyder/</value>
      </setting>
      <setting name="TimeOut" serializeAs="String">
        <value>15</value>
      </setting>
    </Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
  </userSettings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBasicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBasicHttpBinding" contract="Kartverket.GeosyncWCF.WebFeatureServiceReplicationPort" />
    </client>
  </system.serviceModel>-->
</configuration>