<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog throwExceptions="false" internalLogToConsole="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--Use TEMP folder as default.-->
      <target name="errorfile" xsi:type="File" fileName="${tempdir:dir}/SubscriberNetCore_Error_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|${stacktrace}"/>
      <target name="logfile" xsi:type="File" fileName="${tempdir:dir}/SubscriberNetCore_Log_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    </targets>
    <rules>
      <!--<logger name="*" writeTo="logfile" minlevel="Info" />-->
      <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
      <logger name="*" writeTo="logfile" minlevel="Info" />
      <!--<logger name="*" writeTo="logfile" minlevel="Debug"/>-->
      <logger name="*" writeTo="errorfile" minlevel="Error"/>
      <!--Skip non-critical Microsoft logs and so log only own logs-->
      <logger name="Microsoft.*" maxlevel="Info" final="true" />
      <!-- BlackHole without writeTo -->
      <!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
    </rules>
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
  </nlog>
</configuration>