/*
.page-link {
  background: rgb(255, 255, 255); // Fall-back for browsers that don't support rgba 
  background: rgba(255, 255, 255, .85);
}

.site-title {
  background: rgb(255, 255, 255); // Fall-back for browsers that don't support rgba 
  background: rgba(255, 255, 255, .85);
}

.site-header {
  min-height: 150px;
  background-image: url('synk.png');
}
*/
