@page "/"

<PageTitle>Index</PageTitle>

<MudImage Src="images/Geosynk.png"  Elevation="25" Class="rounded-lg" Width="50" Height="50"/>
<h1>Geosynkronisering Administrator</h1>



Geosynkronisering Administrator med Push.
I denne versjonen kan man som før være en tilbyder som det abonneres på.
I tillegg kan man nå "pushe data" til en abonnent.

