<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kartverket.Geosynkronisering.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog throwExceptions="true" internalLogToConsole="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--For nlog use TEMP folder, one file for error, one for logging. Consider using {basedir}-->
      <target name="errorfile" xsi:type="File" fileName="${tempdir:dir}/Kartverket.Geosynkronisering.Provider_Error_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|${stacktrace}" />
      <target name="logfile" xsi:type="File" fileName="${tempdir:dir}/Kartverket.Geosynkronisering.Provider_Log_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>
    <rules>
      <!--<logger name="*" writeTo="logfile" minlevel="Info" />-->
      <logger name="*" writeTo="logfile" minlevel="Debug" />
      <logger name="*" writeTo="errorfile" minlevel="Error" />
    </rules>
  </nlog>
  <location path="Administrator">
    <system.web>        
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>    
    <authentication mode="Forms">
        <forms name="GeosynkAdmin" loginUrl="Administrator\Login.aspx" protection="All" timeout="30" path="/">
          <credentials passwordFormat="Clear">
            <user name="admin" password="system2012"/>
          </credentials>
        </forms>
      </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Kartverket.Geosynkronisering.Syncronization" behaviorConfiguration="RestServiceBehavior">
        <endpoint address="" behaviorConfiguration="RestServiceBehavior" binding="webHttpBinding" contract="Kartverket.Geosynkronisering.Syncronization">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RestServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="RestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebFeatureServiceReplicationSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://skjema.geonorge.no/standard/geosynkronisering/1.1/produkt" binding="basicHttpBinding" bindingConfiguration="WebFeatureServiceReplicationSoap" contract="Kartverket.GeosyncWCF.WebFeatureServiceReplicationPort" name="WebFeatureServiceReplication" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="geosyncEntities" connectionString="metadata=res://*/GeosyncModel.csdl|res://*/GeosyncModel.ssdl|res://*/GeosyncModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\geosync.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Kartverket.Geosynkronisering.Properties.Settings>
      <setting name="wfsURL" serializeAs="String">
        <value>http://localhost:8080/geoserver/app/ows</value>
      </setting>
      <setting name="defaultDataset" serializeAs="String">
        <value>Kystkontur</value>
      </setting>
      <setting name="ftpServer" serializeAs="String">
        <value>webcluster01.webhuset.no</value>
      </setting>
      <setting name="ftpUser" serializeAs="String">
        <value>arkitek3d_ftp</value>
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value>geotest12</value>
      </setting>
      <setting name="dbConnectInfo" serializeAs="String">
        <value>Server=localhost;UID=postgres;PWD=system2012;Database=ny_felleskyst_tilbyder;Port=5432;</value>
      </setting>
    </Kartverket.Geosynkronisering.Properties.Settings>
  </applicationSettings>
</configuration>