<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
          <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="geosyncDBEntities" connectionString="metadata=res://*/GeoClientModel.csdl|res://*/GeoClientModel.ssdl|res://*/GeoClientModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\geosyncDB.sdf&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBasicHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBasicHttpBinding" contract="Kartverket.GeosyncWCF.WebFeatureServiceReplicationPort"/>
    </client>
  </system.serviceModel>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <nlog throwExceptions="true" internalLogToConsole="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      For nlog use TEMP folder, one file for error, one for logging.
      <target name="errorfile" xsi:type="File" fileName="${tempdir:dir}/Kartverket.Geosynkronisering.Subscriber_Error_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}|${stacktrace}"/>
      <target name="logfile" xsi:type="File" fileName="${tempdir:dir}/Kartverket.Geosynkronisering.Subscriber_Log_${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    </targets>
    <rules>
      <logger name="*" writeTo="logfile" minlevel="Info"/>
      <logger name="*" writeTo="logfile" minlevel="Debug"/>
      <logger name="*" writeTo="errorfile" minlevel="Error"/>
    </rules>
  </nlog>
  <userSettings>
    <Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
      <setting name="DefaultServerURL" serializeAs="String">
        <value>https://geosynk.nois.no/tilbyder/</value>
      </setting>
    </Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
  </userSettings>
</configuration>
