<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kartverket.Geosynkronisering.Subscriber.Subscriber" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kartverket.Geosynkronisering.Subscriber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Kartverket.Geosynkronisering.Subscriber.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="geosyncDBEntities" connectionString="metadata=res://*/GeoClientModel.csdl|res://*/GeoClientModel.ssdl|res://*/GeoClientModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\geosyncDB.sdf&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="WebFeatureServiceReplicationSoap" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:43397/WebFeatureServiceReplication.svc"
          binding="basicHttpBinding" bindingConfiguration="WebFeatureServiceReplicationSoap"
          contract="Kartverket.GeosyncWCF.WebFeatureServiceReplicationPort"
          name="WebFeatureServiceReplication" />
      </client>
    </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
            <setting name="DefaultDatasetId" serializeAs="String">
                <value>1</value>
            </setting>
        </Kartverket.Geosynkronisering.Subscriber.Properties.Subscriber>
        <Kartverket.Geosynkronisering.Subscriber.Subscriber>
            <setting name="DefaultDatasetId" serializeAs="String">
                <value>1</value>
            </setting>
        </Kartverket.Geosynkronisering.Subscriber.Subscriber>
        <Kartverket.Geosynkronisering.Subscriber.Properties.Settings>
            <setting name="defaultDataset" serializeAs="String">
                <value>Ar5</value>
            </setting>
        </Kartverket.Geosynkronisering.Subscriber.Properties.Settings>
        <Kartverket.Geosynkronisering.Subscriber.Settings1>
            <setting name="defaultDataset" serializeAs="String">
                <value>Ar5</value>
            </setting>
        </Kartverket.Geosynkronisering.Subscriber.Settings1>
    </userSettings>
   
</configuration>
